.destination {
    font-family: "FS Siena", sans-serif;
    padding: 4rem 0;

    .accordion-button{
        color: rgba(35, 31, 32, 0.4);
        text-transform: uppercase;
        font-size: 1.5rem;

        &:hover{
            color: #231F20;
        }

        &:focus, &:not(:active) {
                outline: 0;
                border: none;
                box-shadow: none;
            }

        &::after{
            content: none;
        }
    }


    .btn-primary{
        padding: .5rem 2.5rem;
        font-size: .9rem;
        &:hover {
            background-color: #fff;
            color: $primary;
            border: 1px solid $primary;
        }
    }

    .accordion-body{
        font-size: .9rem;
        text-align: left;
        color: #231F20;
        letter-spacing: 0.02em;
    }
    
    .accordion-footer{
        // padding: 0 1.25rem;
    }

    img {
        width: 100%;
        height: auto;
        padding-left: 1.5rem;
        border-left: 1px solid rgba(35, 31, 32, 0.15);
    }
}