section.elite{
    font-family: "FS Siena", sans-serif;
    padding-top: 7rem;

    & h3{
        font-size: 20px;
        text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #231F20;
            margin: 0 0 25px;
            width: 100%;
    }
}