.subscribe{
    font-family: "Majorant-Light";
    background-color: #CADDE3;
    min-height: 80vh;

    p, li{
        color: #231F20;
        font-size: 1rem;
    }

    input {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18.2px;
            color: #231F20;
            display: inline-block;
            width: 100%;
            padding: 0 0 10px 4px;
            margin-bottom: 30px;
            vertical-align: top;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
            background: none;

        &:focus {
            outline: none;
        }
    }

        select {
            line-height: 18.2px;
            color: #231F20;
            display: inline-block;
            width: 100%;
            padding: 0 0 10px 0;
            margin-bottom: 30px;
            vertical-align: top;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
            font-size: 13px;
            font-weight: normal;
            background: none;
        }
}