@font-face {
    font-family: 'FS Siena';
    src: url(../font/FS_Siena_Regular.ttf) format('truetype'),
        url(../font/FS_Siena_Regular.woff) format('woff'),
        url(../font/FS_Siena_Regular.eot);
}
body {
    font: 18px/30px 'Majorant-Light', sans-serif;
    color: #000;
    background-color: #EBEDEE;
}

h1, h2, h3, h6 {
    font-family: "FS Siena", sans-serif;
}