$primary: #231f20;
$secondary: #ebedee;

$input-border-radius: 40px;

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "mixin.scss";
@import "typography";
@import "header.scss";
@import "hero.scss";
@import "elite.scss";
@import "tagline.scss";
@import "destination.scss";
@import "button.scss";
@import "difference.scss";
@import "signature.scss";
@import "subscribe.scss";
